xrdb --merge /home/prakhunov/.Xresources
/home/prakhunov/.screenlayout/three_notwide.sh
nvidia-settings --assign CurrentMetaMode="nvidia-auto-select +0+0 { ForceFullCompositionPipeline = On }"
/home/prakhunov/.screenlayout/three_notwide.sh
/usr/bin/dispwin -d3 /home/prakhunov/Documents/ColorProfiles/Dell\ P2418D-L-3.icm
/usr/bin/dispwin -d2 /home/prakhunov/Documents/ColorProfiles/Dell\ P2418D-R-2.icm
/home/prakhunov/.screenlayout/compton.sh
nm-applet &
clipit &
/usr/bin/xautolock -time 10 -locker '/home/prakhunov/.bin/i3lock-wrapper.sh' &
/home/prakhunov/.screenlayout/background.sh &
dunst &
